body {
    width: 100%;
    margin: 0;
    background-color: $beige;
    font-family: $mainFont;
    color: $mainText;
    font-weight: 400;
}

.header {
    @include flexbox();
    padding: 0 2.5rem;
    background-color: $headerPink;

    &__icon {
        @include iconProperties;
        width: 1.2rem;
    }

    &__logo {
        width: 4.75rem;
        cursor: pointer;
    }
}

.banner {
    width: calc(100% - 1rem);
    box-sizing: border-box;
    padding: 6.25rem 0;
    text-align: center;
    background-image: url(../img/components/banner.png);
    background-size: cover;
    background-position: center;
    color: #D16A9C;
    margin: .5rem;
    border-radius: $borderRadius;
}

.categories {
    margin: 2rem 1.5rem;
    @include track();
}

.bestSellers {
    font-family: $titleFont;
    font-size: 1.5rem;
    margin: 1.5rem;
    @include track();
}

.cart {
    position: absolute;
    top: 4.75rem;
    background-color: $white;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0;
    transition: all .25s ease;

    > div {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;

    }
    
    &__title {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        padding: 1.25rem 0;
    }

    &__close {
        @include iconProperties();
    }

    &__btn {
        margin: 1.25rem 1rem;
    }
}

@include tablet() {
    .header {

        &__icon {
            width: 1.25rem;
        }
    }

    .cart {
        width: 50%;
        right: 0;
    }
}

@include laptop() {
    .header {
        padding: 0 2.5rem;
    
        &__icon {
            width: 1.5rem;
        }
    }
    
    .banner {
        padding: 10rem 0;
    }

    .cart {
        width: 30%;
        right: 0;
    }

}