body {
    width: 100%;
    margin: 0;
    background-color: $beige;
    font-family: $mainFont;
    color: $mainText;
    font-weight: 400;
}

.header {
    @include flexbox();
    padding: 0 2.5rem;
    background-color: $headerPink;

    &__icon {
        @include iconProperties;
        width: 1.2rem;
    }

    &__logo {
        width: 4.75rem;
        cursor: pointer;
    }
}

.banner {
    width: calc(100% - 1rem);
    box-sizing: border-box;
    padding: 6.25rem 0;
    text-align: center;
    background-image: url(../img/components/banner.png);
    background-size: cover;
    background-position: center;
    color: #D16A9C;
    margin: .5rem;
    border-radius: $borderRadius;
}

.categories {
    margin: 2rem 1.5rem;
    
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    &__track {
        display: flex;
        gap: 15px;
        width: max-content;
        min-width: 100%;
        justify-content: center;
    }
}

@include tablet() {
    .header {

        &__icon {
            width: 1.25rem;
        }
    }
}

@include laptop() {
    .header {
        padding: 0 2.5rem;
    
        &__icon {
            width: 1.5rem;
        }
    }
    
    .banner {
        padding: 10rem 0;
    }

}