$titleFont: "Faculty Glyphic", sans-serif;
$mainFont: "Montserrat", sans-serif;

$pink: #f095c3;

$lightPink: #faddeb;
$glossyPink: #f062a6;

$headerPink: #f4f2f3;
$beige: #f5ede7;

$mainText: #1a1a1a;
$secondaryText: #6b6b6b;
$white: #ffffff;

$borderRadius: .5rem;

