$titleFont: "Faculty Glyphic", sans-serif;
$mainFont: "Montserrat", sans-serif;

$pink: #f095c3;

$lightPink: #faddeb;
$glossyPink: #f062a6;

$headerPink: #f4f2f3;
$lightBorder: #f1f1f1;
$beige: #f5ede7;

$mainText: #1a1a1a;
$secondaryText: #6b6b6b;
$bannerText: #d16a9c;
$white: #ffffff;

$overlayDark: rgba(0, 0, 0, 0.35);
$softDarkBorder: rgba(26, 26, 26, 0.05);


$borderRadius: .5rem;

